body {
	width: 80%;
	margin: auto;
	background-color: #f2f4f5;
}

#header{
	text-align: center;
	font-size: 2em;
	display: block;
	margin: auto;
	background-color: #e9ecee;
}

#nav{
	background-color: #e9ecee;
}

li{
	display: inline;
	margin: auto;
	text-transform: uppercase;
	font-family: Georgia, Times, "Times New Roman", Serif;
	font-size: 1.5em;
	padding-left: 8%;

}


#searching {
	display: block;
	margin: 0px auto;
	width: 92%;
	max-height: 275px;
	margin-top: 3%;
	padding-top: .05%;
	padding-bottom: .5%;
}
#wondering{
	display:block;
	margin: 0px auto;
	width: 80%;
	padding-top: .05%;
}

#seeing{
	width: 80%;
	max-height: 185px;
	padding-top: .05%;
	display:block;
	margin: 0px auto;
}
#tasting{
	display:block;
	margin: 0px auto;
	width: 80%;
	padding-top: .05%;
}

h1{
	color: black;
	text-align: center;
	font-family: "Courier New", Courier monospace;
	text-transform: uppercase;
	font-size: 2em;

}



h2 {
	color: black;
	text-align: center;
	font-family: Georgia, Times, "Times New Roman", Serif;
}

div {
	background-color:#dfe4e7;

}

p{
	padding-left:9%;
	padding-right:9%;
}

#intro{
	padding-left: 3%;
	padding-right:3%;
}

#div1 {
	text-align: justify;
	margin-bottom: 3%;
	width: 100%;
	padding-top: 3%;
	padding-bottom: 3%;
}

#div2 {
	float:left;
	width: 32.3%;
	overflow: auto;
	text-align: justify;
	margin: .5%;
	padding-top: 3%;
	padding-bottom: 3%;
}

#div3 {
	float: left;
	width: 32.3%;
	overflow:auto;
	text-align: justify;
	margin:.5%;
	padding-top: 3%;
	padding-bottom: 3%;

}
#div4 {
	float: left;
	width: 32.3%;
	overflow: auto;
	text-align: justify;
	margin: .5%;
	padding-top: 3%;
	padding-bottom: 3%;
}